.intro {
  display: flex;
  margin-top: 3rem;
}

.intro-left {
  flex: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.intro-heading {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-left: 3rem;
}

.intro-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  margin-left: 3rem;
  color: rgba(0, 0, 0, 0.54);
}

.intro-btn {
  background: #1a9388;
  border-radius: 5px;
  color: #fff;
  border: #1a9388;
  margin-left: 3rem;
}

.intro-right {
  flex: 50%;
}
